# 環境変数 | for dotenv
.env

# PyCharm
.idea

# 環境ディレクトリ | for virtualenv
venv

# PyCharm特有
/**/__pycache__
__pycache__/
__pycache__/*


# docker data volumes
/docker/db/data/*

# このアプリではmigrationを共有しない
migrations